@mixin font-size($value) {
	font-size: $value;
}
@mixin text-align($value) {
	text-align: $value;
}
@mixin line-height($value) {
	line-height: $value;
}
//FONT-SIZES
.t-10 {
	@include font-size(1em);
}
.t-18 {
	@include font-size(1.8em);
}
.t-22 {
	@include font-size(2.2em);
}
//TEXT-STYLES
.italic {
	font-style: italic;
}
//TEXT-ALIGNS
.text-center {
	@include text-align(center);
}
.text-right {
	@include text-align(right);
}
.t-justify {
	@include text-align(justify);
}
//LINE-HEIGHTS

.line-h1-4 {
	@include line-height(1.2);
}