.float-l {
	float: left;
}

.float-r {
	float: right;
}

.box-rltiv {
	position:relative;
}

.box-abst {
	position:absolute;
}

.pos-top-0 {
	top:0;
}

.pos-lft-0 {
	left:0;
}

.pos-rgh-0 {
	right:0;
}

.pos-btm-0 {
	bottom:0;
}