@mixin whole-padd($value) {
	padding: $value;
}

.vmarg-5 {
	margin-top:5px;
	margin-bottom:5px;
}
.vmarg-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.min-marg-top {
	margin-top: 20px;
}
.big-marg-top {
	margin-top: 40px;
}

.hmarg-auto {
	margin-left: auto;
	margin-right: auto;
}

.min-marg-btm {
	margin-bottom: 25px;
}
.padd-1 {
	@include whole-padd(1%);
}