@charset "utf-8";
@import "core/reset";
//IMPORT VARIABLES
@import "variables/sizes";
//MAIN CSS RULES
@import "core/params";
//LOGIN PAGE
@import "partials/login/loginPage";

@media screen and (max-width: 570px) {
	.min-blk-30 {
		width:90%;
	}
}
@media screen and (min-width: 571px) and (max-width: 959px) {
	.min-blk-30 {
		width:45%;
	}
}
@media screen and (min-width: 960px) and (max-width: 1370px) {
	.min-blk-30 {
		width:35%;
	}
}
@media screen and (min-width: 1371px) and (max-width: 2460px) {
	.min-blk-30 {
		width:30%;
	}
}
@media screen and (min-width: 2461px) {
	.min-blk-30 {
		width:15%;
	}
}